{% block page_stylesheets %}

	<!-- Bootstrap Select CSS -->
    {#     <link rel="stylesheet" href="css/components/bs-select.css" type="text/css" />#}

{% endblock %}

{% block page_content %}

    {# include "FrontOfficeBundle::layout.html.twig" #}
    {# include "FrontOfficeBundle:Include:slider.html.twig" #}


	<!-- Site Content
        =============================================  -->
	<section id="content">

		<div class="content-wrap">
			<div class="container clearfix">

				<div class="row filters" id="agence">

					<h1><span style="color: #555555">L'</span>agence</h1>

					<div class="col-md-12">

						<p>{{ first.intro|raw }}</p>

					</div>

					<div class="col-md-6">

						<h3>{{ first.subTitle|raw }}</h3>
						<p>{{ first.description|raw }}</p>

					</div>

					<div class="col-md-6">

                        {% if first.picture %}
							<img src="/apArchi/web/{% path first.picture, 'reference'%}">
                        {% endif %}

					</div>

				</div>

				<div class="row filters" id="pourquoi" style="background-color:#f2f2f2; right: 0; left: 0">

					<h1><span style="color: #555555">Pourquoi</span> un architecte ?</h1>

					<div class="col-md-12">

						<p>{{ second.intro|raw }}</p>

					</div>

					<br/>

					<div class="col-md-4">
                        {% if second.pictureOne %}
							<img src="/apArchi/web/{% path second.pictureOne, 'reference'%}">
                        {% endif %}
					</div>

					<div class="col-md-4">
                        {% if second.pictureTwo %}
							<img src="/apArchi/web/{% path second.pictureTwo, 'reference'%}">
                        {% endif %}
					</div>

					<div class="col-md-4">
                        {% if second.pictureThree %}
							<img src="/apArchi/web/{% path second.pictureThree, 'reference'%}">
                        {% endif %}
					</div>

				</div>

				<div class="row filters" id="missions">

					<h1><span style="color: #555555">Les</span> missions possible</h1>

					<div class="col-md-12">
						<p>{{ third.intro|raw }}</p>
					</div>

					<br/>

					<div class="col-md-12">

					{% if third.picture %}
						<img src="/apArchi/web/{% path third.picture, 'reference'%}">
					{% endif %}
					</div>

		</div>

				<div class="row filters" id="realisations" style="background-color:#f2f2f2; background-size: cover;">

					<h1><span style="color: #555555">R</span>éalisations</h1>
					<div class="col-md-12">

						<p>{{ fourth.intro|raw }}</p>

					</div>
                    {%  include "FrontOfficeBundle:Include:slider.html.twig" %}
				</div>

				<div class="row filters" id="contact">

					<h1><span style="color: #555555">C</span>ontact</h1>

					<div class="col-md-12">
						<div id="wrap">
							<div id='form_wrap'>
                                {{ form_start(form) }}
								<p>Bonjour Aurèlie,</p>
								<label for="email">Votre Message : </label>
                                {{ form_widget(form.message) }}
								<p>Cordialement,</p>
								<label for="name">Nom: </label>
                                {{ form_widget(form.name) }}
								<label for="email">Email: </label>
                                {{ form_widget(form.email) }}

                                {{ form_end(form) }}
							</div>
						</div>
					</div>

				</div>



			</div> <!-- end container -->
		</div> <!-- end content-wrap -->

	</section> <!-- end section content -->


{% endblock %}